/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .



 */
@import "foundation_and_overrides";

/*h1 {
	font-family: 'Sigmar One', cursive;
	font-size: 40px;
	font-weight: 400;
	color: green;
}*/

.container {
	width: 900px;
	margin: 0 auto;
}


body {
	background-color: #000000;
}

h1.headline {
	font-family: 'Sigmar One', cursive;
	font-size: 60px;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
	margin-top: 150px;
}

h1.login {
	font-family: 'Cutive Mono';
	font-size: 25px;
	font-weight: 400;
}

h1.title-text {
	font-family: 'Sigmar One', cursive;
	font-size: 40px;
	color: #FFFFFF;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 20px;
}

div#nav {
	font-family: 'Cutive Mono';
	font-size: 50px;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
}

div.error-messages {
	font-family: 'Cutive Mono';
	font-size: 25px;
	font-weight: 400;
	color: #9E1919;
}

.title-text {
	font-family: 'Sigmar One';
}

p.story-body {
	font-family: 'Cutive Mono';
	font-size: 24px;
	font-weight: 400;
	color: #FFFFFF;
	text-align: justify;
}

.notebook-entries {
	font-family: 'Marck Script';
	font-size: 18px;
}

.right-off-canvas-menu {
	background-image: url('/notebook-background.jpg');
}

.scenes {
	font-family: 'Cutive Mono';
}

.back {
	font-family: 'Sigmar One';
}
