body {
	background-color: #000000;
}

h1.headline {
	font-family: 'Sigmar One', cursive;
	font-size: 60px;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
	margin-top: 150px;
}

div.begin{
	text-align: center;
	font-family: 'Cutive Mono';
	font-size: 50px;
	font-weight: 400;
	color: #FFFFFF;
}

div#nav {
	font-family: 'Cutive Mono';
	font-size: 50px;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
}


