body {
	background-color: #000000;
}

h1.headline { 
	font-family: 'Sigmar One', cursive;
	font-size: 40px;
	font-weight: 400;
	color: #990000;
	text-align: center; 
}

div#nav {
	font-family: 'Cutive Mono';
	font-size: 30px;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
}

