div {
	color: #ffffff;
}

h1 {
	color: #ffffff;
}

aside.right-off-canvas-menu {
	background-image: url(/old_paper.jpg);
	font-family: 'Marck Script';
	font-style: normal;
	font-weight: 400;
	color: #000000;
}


